/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
}

/* SMART CAMPUS BANNER */
.campus-banner {
  width: 100%;
  height: 240px;
  background-color:  #2d7ef7;;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 70px;
  box-sizing: border-box;
}

.campus-banner h1 {
  font-size: 44px;
  margin: 0;
}

.campus-banner h1 span {
  font-weight: 700;
}

.campus-banner p {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.9;
  max-width: 750px;
}




/* DASHBOARD CARD CONTAINER */
.dashboard-cards {
  width: 98vw;                 /* almost full width */
  margin: 35px auto;
  padding: 20px 30px 50px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 40px;                   /* more spacing */
}

/* INDIVIDUAL CARDS */
.card {
  background: white;
  border-radius: 28px;
  padding: 55px 25px;
  text-align: center;

  font-size: 19px;
  font-weight: 600;

  box-shadow: 0 14px 30px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
}

/* Tablet */
@media (max-width: 1000px) {
  .dashboard-cards {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    gap: 28px;
    padding: 20px;
  }

  .campus-banner {
    padding: 0 35px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
    width: 94vw;
    gap: 20px;
    margin-top: 25px;
  }

  .campus-banner {
    height: auto;
    padding: 40px 20px;
  }

  .campus-banner h1 {
    font-size: 32px;
  }
}